body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Syne Mono', monospace;
  font-size: 30px;
}

p2{
font-size: 20px;
}
p3{
font-size: 10px;
}

prpl {
  color: #7366bd;
  outline: none;
}
a {
  color: #ffffff
}
ul {
  margin-left: 80px;
}
rainbow {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
  line-height: 25px;
}

@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}


#button {
  --color: black;
  --border-color: black;
  --shadow-color: rgb(112, 20, 20);

  font-family: 'Syne Mono', monospace;
  position: relative;
  font-size: 20px;
  width: 120px;
  height: 60px;
  max-width: 100%;
  max-height: 100%;
  margin: 2rem;
  border: 0.25rem solid;
  border-color: #ffffff;
  background-size: cover;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  background-color: var(--color);
  box-shadow: 0 10px #c0c0c0;

}
#button:hover {
  border-color: #c0c0c0;
  color: #c0c0c0;
}

#button:active {
    top: 10px;
    box-shadow: 0 0 #483D8B;
}

#display,
#counter {
    height: 32px;
}
