

html,
body {
  height: 100%;
}

html{
  min-width: 940px;
}

body{
  background: #bcaef4;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  padding-right: 8px;
  overflow-x: hidden;

}

dol{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  margin-top: 0px;
  font-size: 30px;
}

p {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
p1{
  margin-top: 10px;
  position: relative;
  weight: 110%;
  padding: 20px;
  bottom: -200px;
}
div.panel {
  position: absolute;
  background: #ffffff;
  border-radius: 15px;
  height: 110px;
  min-width: 930px;
  width: calc(100vw - 32px);
  z-index: 1;
  align-items: baseline;

}

table {
  position: relative;
  top: 5px;
  font-size: 30px;
}

.tovar {
  height: 330px;
  width: auto;
  display:block;
  border-radius: 10px;
  margin:auto;
  margin-top: 10px;
}

div.box{
  display: flex;
}

header {
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 7px;
  z-index: 2;
}



.banner li{
  display: inline-flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  background-color: #dedede;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 5px solid #dedede;
}

.banner ul{
  display: inline-flex;
}

.banner li:hover{
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: #bcaef4;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 5px solid #bcaef4;
}

.banner a{
  text-decoration: none;
  width: auto;
  height: auto;
  color: black;
  background-position: bottom;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.cart{
  display: inline-flex;
  position: relative;
  bottom: -6px;
  width: 30px;
  height: auto;

}

.allbox{
  display: flex;
  align: center;
  /* background-color: blue; */
  width: auto;
  height: auto;
  position: relative;
  top: 150px;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 240px;

}


div.tov {
  display: flex;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 14px;
  position: relative;
  flex-flow: column wrap;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 240px;

  padding: 20px;
  font-size: 20px;

}

.logo {
  width: 35px;
  height: auto;
  position: relative;
  top: 5px;
  z-index: 2;
}
